<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pexels Image Downloader | Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Email Messaging Site">
  <meta name="keywords" content="pexels, pictures, photos, pwa">
  <meta name="author" content="Victor CHINEWUBEZE">
  <link rel="stylesheet" type="text/css" media="screen" href="public/css/styles.css" />
  <link rel="shortcut icon" type="image/x-icon" href="public/img/Pexels.png">
</head>

<body>
  <header>
    <div class="container">
        <h1 id="appName">Pexels Image Downloader</h1>
    </div>
  </header>

  <div class="formBox container">
    <a href="/"><button>Back to Search</button></a>
    <button id="next" data="<%= next_page %>" >Next Page</button>
  </div>

  <div id="results" class="container">
    <% photos.forEach((photo) => { %>
      <div class="photos">
          <a href="<%= photo.src.large %>" target="_blank"><img id="image" src="<%= photo.src.tiny %>" /></a>
          <a href="<%= photo.photographer_url %>" target="_blank"><%= photo.photographer %></a>
        </div>
    
    <% }) %>

  </div>
  <div id="footerSpace"></div>
  <footer>Pexels Image Downloader, Copyright &copy; 2019</footer>
   <script src="public/js/main.js"></script>
</body>

</html>